<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.shipoya.shipoya2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:name=".ShipoyaApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data

            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.StatusTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomepageActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".GetTruckActivity"
            android:label="@string/request_a_truck"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ViewQuotesActivity"
            android:label="@string/title_activity_view_quotes"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ViewQuotesChildActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="shipoya.android"
                    android:host="shipper" />
            </intent-filter>
        </activity>



        <activity
            android:name=".ViewOrdersActivity"
            android:label="@string/title_activity_view_orders"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ViewOrdersChildActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ViewInvoiceActivity"
            android:label="@string/title_activity_view_invoices"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".AboutUs"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity android:name=".FAQActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".PrivacyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".NotificationActivity"
            android:label="Notifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SearchActivity"
            android:label="Search Result"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".RecentSearchProviderShipper"
            android:authorities="com.android.shipoya.shipoya2.RecentSearchProviderShipper"
            android:enabled="true"
            android:exported="false"
            android:multiprocess="true" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
    </application>
</manifest>